@import "../common/sass/reset"
@import "../common/sass/variables"

body, html
  display: flex
  height: 100%
  width: 100%
  justify-content: center
  align-items: center
  font-family: Verdana, Geneva, sans-serif;
  color: $EBONY_CLAY

#app, .chatWindow
  max-width: 600px
  max-height: 600px
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 20px
  display: flex
  flex-direction: row
  justify-content: space-between

.primaryTitle
  font-size: 32px
  line-height: 38px
  text-align: center
  margin-bottom: 30px
.primaryDescription
  font-size: 18px
  line-height: 24px
  text-align: center
  margin-bottom: 40px
.initMessage
  box-sizing: border-box
  display: block
  width: 100%
  height: 100%
  resize: none
  padding: 15px
  border: 2px solid $DODGER_BLUE
  border-radius: 4px
  box-shadow: inset 0 0 2px rgba(0,0,0, .2)
  height: 200px
  margin-bottom: 20px
  &.invalid
    border-color: $SUNSET_ORANGE
.btn
  border: 2px solid $EBONY_CLAY
  background: white 
  color: $EBONY_CLAY
  font-size: 18px
  line-height: 18px
  font-weight: 500
  text-align: center
  display: block
  width: 100%
  padding: 15px
  box-sizing: border-box
  opacity: .8
  transition: all .15s linear
  &:hover
    opacity: 1
  &-submit
    background: $JADE
    color: white
    border-color: $JADE

.chatView,
.messagesWindow
  width: 100%
  height: 100%
  overflow-y: auto

.chatView
  display: flex
  flex-direction: column
  justify-content: space-between

.messagesWindow
  height: 100%
  padding: 20px

.inputBox
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1)
  position: relative
  height: 150px
  textarea
    display: block
    height: 100%
    width: 100%
    position: relative
    z-index: 1
    background: transparent
    border: 2px solid $DODGER_BLUE
    resize: none
    box-sizing: border-box
    padding: 15px
    border-radius: 4px
    &:disabled
      opacity: .4
      cursor: not-allowed
  button
    position: absolute
    background: $DODGER_BLUE
    color: $WHITE
    font-size: 16px
    list-style: 16px
    font-weight: 500
    border: 0
    border-radius: 4px
    position: absolute
    z-index: 2
    right: 10px
    bottom: 10px
    padding: 4px 10px 5px
    &:disabled
      opacity: .4
      cursor: not-allowed
.messagesWindow
  .message
    width: 100%
    &.client
      text-align: right
      .message_innerWrap
        text-align: right
        background: $LIGHT_BLUE
        color: $EBONY_CLAY
        &:before
          left: initial
          right: -3px
          transform: skew(49deg)
          background: $LIGHT_BLUE
    &.expired .message_innerWrap
      background: $SUNSET_ORANGE
      color: $WHITE
      &:before
        background: $SUNSET_ORANGE
  .message_innerWrap
    width: initial
    display: inline-block
    padding: 6px 10px 7px
    border-radius: 4px
    background: $DODGER_BLUE
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
    margin-bottom: 15px
    position: relative
    color: $WHITE
    &:before
      content: ""
      display: block
      position: absolute
      left: -3px
      bottom: 0
      width: 15px
      height: 7px
      background: $DODGER_BLUE
      transform: skew(-49deg)
  .countdown
    padding: 15px 0
    display: flex
    font-size: 24px
    font-weight: 600